header {
    background: rgba(105, 0, 255, 1);
    background: linear-gradient(-45deg, rgba(255, 110, 0, 1) 0%, rgb(84, 0, 183) 100%);
}

.current-image-container {
    width: 100px !important;
}

.fa-user-edit {
    color: white;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.fa-user-edit:hover {
    color: gray;
}

textarea {
    resize: none;
}