{% extends 'django_comments_xtd/comment_dialog.html' %}
{% load i18n %}
{% load static %}

{% block css %}
	{{ block.super }}
	<link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock %}

{% block title %}{% trans "Comment reply" %}{% endblock %}
{% block dialog_title %}
	<h3 class="text-center">
		{% if already_disliked_it %}
			{% trans "You didn't like this comment, do you want to change it?" %}
		{% else %}
			{% trans "Do you dislike this comment?" %}
		{% endif %}
	</h3>
{% endblock %}
{% block dialog_form %}
	{% with object_absolute_url=comment.content_object.get_absolute_url %}
		{% if object_absolute_url %}
			<p class="text-center">
				{% trans "Posted to " %}&nbsp;<a class="link" href="{{ object_absolute_url }}">{{ comment.content_object }}</a>
			</p>
		{% endif %}
	{% endwith %}
	{% if already_disliked_it %}
		<div class="alert alert-warning text-center">
			{% trans 'Click on the "withdraw" button if you want to withdraw your negative opinion on this comment.' %}
		</div>
	{% endif %}
	<form action="." method="post" class="form-horizontal">{% csrf_token %}
		<input type="hidden" name="next" value="{{ comment.get_absolute_url }}">
		<div class="form-group">
			<div class="text-center">
				{% if already_disliked_it %}
					<input type="submit" name="submit" class="btn btn-warning" value="{% trans 'Withdraw' %}"/>
				{% else %}
					<input type="submit" name="submit" class="btn btn-primary" value="{% trans 'I dislike it' %}"/>
				{% endif %}
				<a class="btn btn-secondary" href="{{ comment.get_absolute_url }}">{% trans "cancel" %}</a>
			</div>
		</div>
	</form>
{% endblock %}