{% extends 'entities/entity_detail.html' %}
{% load static %}
{% load model_tag %}
{% load crispy_forms_tags %}

{% block css %}
	{{ block.super }}
	<link rel="stylesheet" href="{% static 'css/department_detail.css' %}">
{% endblock %}

{% block profile_content %}
	<h5>دانشکده</h5>
	<h2>
		{{ department.name }}
	</h2>

	{% if department.my_university %}
		<h6>
			{{ department.my_university }}
		</h6>
	{% endif %}
{% endblock %}

{% block other_content %}
	{% if department.professors %}<h2>اساتید</h2>
		<ul class="row justify-content-center">
			{% for entity in department.professors %}
				<li class="col-8 col-sm-6 col-lg-3">
					{% render_professor entity True %}
				</li>
			{% endfor %}
		</ul>
	{% endif %}
{% endblock %}


{% block ratings %}
	<br>
	<canvas id="ratingsChart" ></canvas>
{% endblock %}

{% block custom_scripts %}
	{{ block.super }}
	<script>
		Chart.defaults.global.defaultFontSize = 14;
		$.ajax({
			method: "GET",
			url: '{% url 'ratings:department_rating_data' pk=entity.pk %}',
			success: function (data) {
				console.log(data);
				if (!jQuery.isEmptyObject(data)) {
                    updateChart(data);
                }
			},
			error: function (error_data) {
				console.log("error");
				console.log(error_data);
			}
		});

		function updateChart(data) {
			var ratingsChartCTX = document.getElementById('ratingsChart').getContext('2d');
			var ratingsChart = new Chart(ratingsChartCTX, {
				type: 'radar',
				data: {
					labels: data.labels,
					datasets: [{
						data: data.data,
						backgroundColor: 'rgba(90, 250, 132, 0.2)',
						borderColor: 'rgba(99, 255, 150, 1)',
						borderWidth: 1
					}]
				},
				options: {
					scale: {
						ticks: {
							beginAtZero: true,
							max: 5,
							stepSize: 1,
						},
						pointLabels: {
							fontSize: 20
						},
					},
					legend: {
						display: false,
					},
					title: {
						display: true,
						text: data.title,
						fontSize: 28
					}
				},

			});
		}

	</script>
{% endblock %}