{% extends 'fullscreen_header.html' %}
{% load static %}
{% load model_tag %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/search_results.css' %}">
{% endblock %}

{% block title %}لیست دانشکده‌ها{% endblock %}

{% block inside_content %}
    <div class="col-lg-6 col-sm-8 mx-auto bg-purple-glass" id="results">
        <div class="position-relative">
            <h2 class="mb-3 d-inline-block">لیست دانشکده‌ها</h2>
            {% if user.is_authenticated %}
                <a href="{% url 'entities:department_suggest' %}" class="suggest btn btn-warning">
                    +<i class="fas fa-school"></i>
                </a>
            {% endif %}
        </div>
        <ul class="row">
            {% for entity in object_list %}
                <li class="col-lg-6">
                    {% render_department entity %}
                </li>
            {% empty %}
                <p>هیچ دانشکده‌ای در سیستم وجود ندارد!</p>
            {% endfor %}
        </ul>
    </div>
{% endblock %}