{% extends 'fullscreen_header.html' %}
{% load static %}
{% load model_tag %}
{% load comment_tag %}
{% load crispy_forms_tags %}

{% block css %}
	{{ block.super }}
	<link rel="stylesheet" href="{% static "css/entity_detail.css" %}">
{% endblock %}
{% block title %}پروفایل {{ entity.name }}{% endblock %}

{% block inside_content %}
	<div class="container emp-profile">

		<div class="row">
			<div class="col-8 col-sm-6 col-lg-3">
				<div class="square circle">
					<img src="{{ entity.get_picture }}">
				</div>
			</div>

			<div class="col-lg-4">
				<div class="profile-head">
					{% block profile_content %}{% endblock %}
				</div>
			</div>

			<div class="col-lg-4">
				{% block rating_summary %} {% endblock %}
			</div>
		</div>

		<div class="row mt-2 ">
			<div class="col-8 col-sm-6 col-lg-3">
				<a class="btn bg-light-purple mx-2" href="{% url entity|rating_path entity.pk %}">نظر بده</a>
			</div>
		</div>
		{% block other_content %}
		{% endblock %}

		{% block ratings %}
		{% endblock %}


		<div class="col-lg-12 col-sm-12 bg-purple-glass" id="results">
			<h2>نظرات</h2>
			<ul>
				{% for comment in comments %}
					<li>
						{% render_comment comment user %}
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>

{% endblock %}

{% block custom_scripts %}
	{{ block.super }}
	<script>

        function updateLikeButtons(likeButton, dislikeButton, likes, dislikes, liked, disliked) {
            likeButton.text("Like " + likes);
            if (liked) {
                likeButton.css('color', 'green');
            } else {
                likeButton.css('color', 'black');
            }

            dislikeButton.text("Dislike " + dislikes);
            if (disliked) {
                dislikeButton.css('color', 'red');
            } else {
                dislikeButton.css('color', 'black');
            }
        }

        $(".like-btn").click(function (e) {
            var this_ = $(this);
            var url_ = this_.attr("data-href");
            var partnerButtonID = this.id.replace("like", "dislike");

            var likeButton = this_;
            var dislikeButton = $("#" + partnerButtonID);


            var model_name = "";
            {% if entity|model_name == 'دانشگاه' %}
                model_name = "University";
            {% elif entity|model_name == 'دانشکده' %}
                model_name = "Department";
            {% elif entity|model_name == 'استاد' %}
                model_name = "Professor";
            {% endif %}

            e.preventDefault();
            $.ajax({
                url: url_,
                method: "GET",
                data: {
                    model_name: model_name,
                },
                success: function (data) {
                    var like_number_changes = data.like_count_change;
                    var dislike_number_changes = data.dislike_count_change;


                    var likes = parseInt(likeButton.text().split(" ")[1]) + like_number_changes;
                    var dislikes = parseInt(dislikeButton.text().split(" ")[1]) + dislike_number_changes;

                    updateLikeButtons(likeButton, dislikeButton, likes, dislikes, data.liked, data.disliked);
                },
                error: function (error) {
                    console.log("ERROR");
                }
            });
        });

        $(".dislike-btn").click(function (e) {
            var this_ = $(this);
            var url_ = this_.attr("data-href");
            var partnerButtonID = this.id.replace("dislike", "like");

            var likeButton = $("#" + partnerButtonID);
            var dislikeButton = this_;

            var model_name = "";
            {% if entity|model_name == 'دانشگاه' %}
                model_name = "University";
            {% elif entity|model_name == 'دانشکده' %}
                model_name = "Department";
            {% elif entity|model_name == 'استاد' %}
                model_name = "Professor";
            {% endif %}

            e.preventDefault();
            $.ajax({
                url: url_,
                method: "GET",
                data: {
                    model_name: model_name,
                },
                success: function (data) {
                    var like_number_changes = data.like_count_change;
                    var dislike_number_changes = data.dislike_count_change;

                    var likes = parseInt(likeButton.text().split(" ")[1]) + like_number_changes;
                    var dislikes = parseInt(dislikeButton.text().split(" ")[1]) + dislike_number_changes;

                    updateLikeButtons(likeButton, dislikeButton, likes, dislikes, data.liked, data.disliked);
                },
                error: function (error) {
                    console.log("ERROR");
                }
            });
        });

	</script>
{% endblock %}