{% extends 'fullscreen_header.html' %}
{% load static %}
{% load model_tag %}

{% block css %}
	{{ block.super }}
	<link rel="stylesheet" href="{% static 'css/profile.css' %}">
	<link rel="stylesheet" href="{% static 'css/search_results.css' %}">
{% endblock %}

{% block title %}لیست اساتید{% endblock %}

{% block inside_content %}
	<div class="col-lg-6 col-sm-8 mx-auto bg-purple-glass" id="results">
		<div class="position-relative">
			<h2 class="mb-3 d-inline-block">لیست اساتید</h2>
			<a href="{% url 'entities:professor_suggest' %}" class="suggest btn btn-warning">
				+<i class="fas fa-chalkboard-teacher"></i>
			</a>
		</div>
		<ul class="row">
			{% for entity in object_list %}
				<li class="col-lg-6">
					{% render_professor entity %}
				</li>
			{% empty %}
				<p>هیچ استادی در سیستم وجود ندارد!</p>
			{% endfor %}
		</ul>
	</div>
{% endblock %}