{% extends 'entities/entity_detail.html' %}
{% load static %}
{% load model_tag %}
{% load crispy_forms_tags %}

{% block css %}
	{{ block.super }}
	<link rel="stylesheet" href="{% static 'css/university_detail.css' %}">
{% endblock %}

{% block profile_content %}
	<h5>دانشگاه</h5>

	<h2>
		{{ university.name }}
	</h2>

	<h4> {{ university.address }}</h4>
{% endblock %}

{% block other_content %}
	<h2>دانشکده‌ها</h2>
	<ul class="row justify-content-center">
		{% for entity in university.departments %}
			<li class="col-8 col-sm-6 col-lg-3">
				{% render_department entity True %}
			</li>
		{% empty %}
			<p>جست‌وجوی شما نتیجه‌ای در بر نداشت!</p>
		{% endfor %}
	</ul>
{% endblock %}
