{% extends 'fullscreen_header.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block css %}
	{{ block.super }}
	<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block title %}فراموشی گذرواژه{% endblock %}

{% block inside_content %}
	<div class="col-lg-6 col-sm-8 mx-auto bg-purple-glass">
		<p>
			یک ایمیل با جزئیات بازیابی گذرواژه برای شما فرستاده شد. اگر حسابی با این ایمیل وجود داشته باشد، به زودی آن
			را
			دریافت خواهید کرد.
		</p>
		<p class="mb-0">
			اگر ایمیلی دریافت نکرده‌اید، لطفا مطمئن شوید که آدرس ایمیل حسابتان را به درستی وارد کرده‌اید، همچنین پوشه‌ی
			اسپم
			ایمیل‌تان را نیز چک کنید.
		</p>
	</div>
{% endblock %}