<!-- templates/signup.html -->
{% extends 'fullscreen_header.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block css %}
	{{ block.super }}
	<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block title %}بازیابی رمز عبور{% endblock %}

{% block inside_content %}
	<div class="col-lg-6 col-sm-8 mx-auto bg-purple-glass">
		{% if validlink %}
			<h3 class="mb-4">یک گذرواژه‌ی جدید انتخاب کنید.</h3>
			{% if messages %}
				{% for message in messages %}
					<div class="alert alert-{{ message.tags }}" role="alert">
						{{ message }}
					</div>
				{% endfor %}
			{% endif %}
			<form method="post" class="col-9 col-sm-8 mx-auto ltr-form">
				{% csrf_token %}
				{{ form | crispy }}
				<input type="submit" value="ثبت" class="btn bg-light-purple">
			</form>
		{% else %}
			لینک بازیابی رمز عبور معتبر نیست!
		{% endif %}
	</div>
{% endblock %}