{% extends 'fullscreen_header.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n static %}

{% block css %}
	{{ block.super }}
	<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block title %}فراموشی گذرواژه{% endblock %}

{% block inside_content %}
	<div class="col-lg-6 col-sm-8 mx-auto bg-purple-glass">
		<p class="mb-4">گذرواژه‌ی خود را فراموش کرده‌اید؟ آدرس ایمیل خود را در زیر وارد کنید؛ ما روش تنظیم رمز جدید را
			برایتان می‌فرستیم.</p>
		{% if messages %}
			{% for message in messages %}
				<div class="alert alert-{{ message.tags }}" role="alert">
					{{ message }}
				</div>
			{% endfor %}
		{% endif %}
		<form method="post" class="col-9 col-sm-8 mx-auto ltr-form">
			{% csrf_token %}
			{{ form | crispy }}
			<input type="submit" value="ثبت" class="btn bg-light-purple">
		</form>
	</div>
{% endblock %}