{% url 'home' as home_url %}
{% url 'entities:university_all' as uni_url %}
{% url 'entities:department_all' as dept_url %}
{% url 'entities:professor_all' as prof_url %}

<nav class="navbar navbar-expand-md navbar-dark">
	<a class="navbar-brand" href="{% url 'home' %}">مای‌آکادمی</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
	        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-sm-2">
			<li class="nav-item {% if request.path == home_url %}active{% endif %}">
				<a class="nav-link" href="{{ home_url }}">خانه</a>
			</li>
			<li class="nav-item {% if request.path == uni_url %}active{% endif %}">
				<a class="nav-link" href="{{ uni_url }}">دانشگاه‌ها</a>
			</li>
			<li class="nav-item {% if request.path == dept_url %}active{% endif %}">
				<a class="nav-link" href="{{ dept_url }}">دانشکده‌ها</a>
			</li>
			<li class="nav-item {% if request.path == prof_url %}active{% endif %}">
				<a class="nav-link" href="{{ prof_url }}">اساتید</a>
			</li>
		</ul>

        <form class="form-inline ml-md-2 my-2 my-md-0 mr-auto"  action="{% url 'entities:search_results' %}" method="get">
          <input name="q"  placeholder="جستجو..." class="form-control mr-md-2">
        </form>

		{% if user.is_authenticated %}
			<div class="nav-item profile dropdown">
				<div class="square dropdown-toggle mr-auto" type="button" id="dropdownMenuButton" data-toggle="dropdown"
				     aria-haspopup="true" aria-expanded="false">
					<img class="rounded-circle" src="{{ user.profile_picture.url | safe }}" alt="Profile Picture">
				</div>
				</button>
				<div dir="rtl" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					<h6 class="dropdown-header">{{ user.first_name }} عزیز، خوش آمدید!</h6>
					<a class="dropdown-item mx-auto text-center" href='{% url "accounts:profile" %}'>
						<span>
							<i class="fa fa-user-circle" aria-hidden="true"></i>
							پروفایل
						</span>
					</a>
					<a class="dropdown-item mx-auto text-center" href='{% url "accounts:logout" %}'>
						<span>
							<i class="fa fa-sign-out" aria-hidden="true"></i>
							خروج
						</span>
					</a>
				</div>
			</div>
		{% else %}
			<a class="btn bg-light-purple mx-2" href='{% url "accounts:login" %}'>ورود</a>
			<a class="btn bg-orange mx-md-2 ml-0" href='{% url "accounts:signup" %}'>ثبت‌نام</a>
		{% endif %}
	</div>
</nav>