/* Load Fonts */
@font-face
{
	font-family: IranSans;
	src: url('../font/IranSans.ttf') format('truetype');
}

:root
{
	--main-color: #5400b7;
	--secondary-color: #015ad4;
	--light-purple: #6900ff;
	--orange: #ff6e00;
	--secondary-orange: #ffc700;
}

html, body
{
	font-family: IranSans, Roboto, sans-serif !important;
	height: 100%;
}

nav
{
	background-color: var(--main-color);
	z-index: 1000;
	position: fixed !important;
	width: 100%;
	color: white;
}

.bg-light-purple
{
	background-color: var(--light-purple);
	border-color: var(--light-purple);
	color: white!important;
}

.bg-orange
{
	background-color: var(--orange) !important;
	border-color: var(--orange) !important;
	color: white !important;
}

.bg-purple
{
	background-color: var(--main-color);
}

.bg-purple-glass
{
	background-color: rgba(84, 0, 183, 0.62);
	padding: 2rem;
	margin: 2rem 0;
	border-radius: 20px;
	color: white;
}

.btn.bg-light-purple:hover
{
	background-color: var(--secondary-color)!important;
	border-color: var(--secondary-color)!important;
}

.btn.bg-orange:hover
{
	background-color: var(--secondary-orange)!important;
	border-color: var(--secondary-orange)!important;
}

a.link
{
	color: white;
	display: block;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

a.link:hover
{
	color: white;
	text-decoration: none;
	text-shadow: 0 0 5px var(--orange), 0 0 5px var(--orange);

}

form.no-asterisk .asteriskField {
    display: none;
}


.square
{
	position: relative;
	width: 100%;
	overflow: hidden;

}

.square:after
{
	content: "";
	display: block;
	padding-bottom: 100%;
}

.square img
{
	position: absolute;
	min-height: 100%; width: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	object-fit: cover;
}

.circle
{
    border-radius: 50%;
}

.profile.dropdown .square
{
	height: 40px;
	width: 40px;
}

.profile.dropdown .dropdown-toggle:after
{
	content: none
}

/* Dropdown Animations */
.dropdown .dropdown-menu {
    -webkit-transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;
    -moz-transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;
    -ms-transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;
    -o-transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;
    transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;

	min-width: 0!important;
    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
}

.dropdown.show .dropdown-menu {
    -webkit-transition: max-height 0.3s, opacity 0.2s, visibility 0s;
    -moz-transition: max-height 0.3s, opacity 0.2s, visibility 0s;
    -ms-transition: max-height 0.3s, opacity 0.2s, visibility 0s;
    -o-transition: max-height 0.3s, opacity 0.2s, visibility 0s;
    transition: max-height 0.3s, opacity 0.2s, visibility 0s;

    max-height: 190px;
    opacity: 1;
    visibility: visible;
}

.entity-card
{
	background-color: rgba(255, 255, 255, 0.25);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 0.75rem;
	min-height: 280px;
}

.entity-card .square
{
	margin-bottom: .5rem;
}
.entity-card h1
{
	font-size: large;
}

.entity-card h2
{
	font-size: small;
}